<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-blod" href="#"  >
        <img src ="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo">
        <span class="text-uppercase">ngular QUIZ</span>
      </a>
      <a class="navbar-brand" href="#" style="color: darkblue;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" aria-current="page" href="#" style="color:darkmagenta;">welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase" href="#"  style="color:darkmagenta;">question</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
